<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p><a href={{url}}>Heroku-hosted version of node-web-server app</a></p>
    {{> footer}}
  </body>
</html>